@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

/* --------Begin Customization--------- */

/* Change the primary theme color to a custom red */
$theme-colors: (
	"aaron-primary": #333333,
	"aaron-secondary": #00c4ff,
);

.a:hover {
	color: #333333;
}

.nav-link {
	color: #00c4ff;
}

.nav-link:hover {
	color: #ffffff;
}

.jumbo {
	background-color: #fd383a;
	color: #00c4ff;
}

.responsive {
	padding: 5px 20px 5px 0;
	width: 100%;
}

p {
	color: #ffffff;
}

/* --------End Customization------------ */

@import "bootstrap";

/*@import "../../../node_modules/bootstrap/scss/bootstrap.scss" */
